* {
	
}

.dialogs {
	margin: 0;
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogsItems {
	margin: 0;
}

.dialog {
	padding: 10px;
	text-decoration: none;
}

.dialog .link {
	text-decoration: none;
	color:gold
}

.messages p {
	margin: 0;
	padding: 10px;
	color:white;
}

